.masthead {
    background: forestgreen;
    border-radius: 40px;
    opacity: .6;
}

.site-title {
    color: black;
}

.main-area {
    padding: 2em;
}

.sidebar {
    background: white;
}
